@inherits LayoutComponentBase
@inject ICookieService CookieService

<MudThemeProvider IsDarkMode="_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudMainContent Class="main-content">
        <div class="centralizador">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<style>
    html, body, .mud-main-content, .main-content {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .centralizador {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-image: linear-gradient(rgb(189 189 189), rgb(186 206 247 / 62%)), url(/images/login.jpg);

        background-size: cover; /* cobre toda a área */
        background-position: center; /* centraliza a imagem */
        background-repeat: no-repeat;
    }
</style>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _isDarkMode = false;
    private string _themeDefault = "Light";

    protected override async Task OnInitializedAsync()
    {
        var themeCookie = await CookieService.GetAsync("theme");
        if (themeCookie is null)
        {
            themeCookie = _themeDefault;
            await CookieService.SetAsync("theme", themeCookie, 365);
        }

        _isDarkMode = themeCookie != _themeDefault;
    }

    private void DarkModeToggle()
    {
        _isDarkMode = !_isDarkMode;
    }

    public string DarkLightModeButtonIcon => _isDarkMode switch
    {
        true => Icons.Material.Rounded.AutoMode,
        false => Icons.Material.Outlined.DarkMode,
    };
}


